<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>试卷详情</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="../../css/common.css" type="text/css" rel="stylesheet">
    <link href="../../css/nav.css" rel="stylesheet" type="text/css">
    <link href="../../css/iconfont.css" rel="stylesheet" type="text/css">
    <script src="../../js/public.js"></script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../layui/layui.js"></script>
    <script src="../../js/alert.js"></script>
    <script src="../../js/echarts.min.js"></script>
    <script src="../../js/nav.js" type="text/javascript"></script>
</head>

<body>
<div th:replace="template::topbar"></div>
<div th:replace="template::leftbar"></div>

<div th:replace="template::examLeftSubBar(select='content')"></div>

<!--主内容框架-->
<div class="main_height main_index lt" style="background: #f2f4f8;">
    <div class="layui-btn-group demoTable jzy_w_max br_h_0 tabTop">
        <span>题目列表</span>
    </div>
    <div class="tree_left" style="width: 100%">
        <div class="layui-form">
            <div id="exam_content" style="display: none">
                <!--题号-->
                <div class="layui-form-item" style="margin-top:20px; width: 31%">
                    <label class="layui-form-label">题号</label>
                    <div class="layui-input-block">
                        <input id="num" type="text" name="num" placeholder="请输入题号" class="layui-input">
                    </div>
                </div>
                <!--试题类型-->
                <div id="questionType-wrapper" class="layui-form-item" >
                    <label class="layui-form-label">试题类型</label>
                    <div class="layui-input-inline">
                        <select id="type" name="type" lay-filter="type" onchange="typeChange()">
                            <option value="0">请选择题目类型</option>
                            <option value="1">填空</option>
                            <option value="2">单选</option>
                            <option value="3">多选</option>
                            <option value="4">论述</option>
                        </select>
                    </div>
                </div>
                <!--题干-->
                <div id="question-wrapper" class="layui-form-item" style="width: 90%">
                    <label class="layui-form-label">题干</label>
                    <div class="layui-input-block">
                        <textarea id="question" placeholder="请输入题干" class="layui-textarea"></textarea>
                    </div>
                </div>
                <!--选项-->
                <div id="option-wrapper" style="display: none">
                    <!--选项A-->
                    <div class="layui-form-item" style="width: 90%">
                        <label class="layui-form-label">选项A</label>
                        <div class="layui-input-block">
                            <input id="optionA" type="text" name="title" placeholder="请输入选项A" class="layui-input">
                        </div>
                    </div>
                    <!--选项B-->
                    <div class="layui-form-item" style="width: 90%">
                        <label class="layui-form-label">选项B</label>
                        <div class="layui-input-block">
                            <input id="optionB" type="text" name="title" placeholder="请输入选项B" class="layui-input">
                        </div>
                    </div>
                    <!--选项C-->
                    <div class="layui-form-item" style="width: 90%">
                        <label class="layui-form-label">选项C</label>
                        <div class="layui-input-block">
                            <input id="optionC" type="text" name="title" placeholder="请输入选项C" class="layui-input">
                        </div>
                    </div>
                    <!--选项D-->
                    <div class="layui-form-item" style="width: 90%">
                        <label class="layui-form-label">选项D</label>
                        <div class="layui-input-block">
                            <input id="optionD" type="text" name="title" placeholder="请输入选项D" class="layui-input">
                        </div>
                    </div>
                </div>
                <!--答案-->
                <div id="answer-wrapper" class="layui-form-item" style="width: 90%">
                    <label class="layui-form-label">答案</label>
                    <div class="layui-input-block">
                        <textarea id="answer" placeholder="请输入答案" class="layui-textarea"></textarea>
                    </div>
                </div>
                <!--解析-->
                <div id="analysis-wrapper" class="layui-form-item" style="width: 90%">
                    <label class="layui-form-label">解析</label>
                    <div class="layui-input-block">
                        <textarea id="analysis" placeholder="请输入解析" class="layui-textarea"></textarea>
                    </div>
                </div>
                <!--消息-->
                <div id="info-wrapper" class="layui-form-item" style="width: 90%">
                    <div class="layui-input-block" style="line-height: 36px; ">
                        <!--消息-->
                        <div id="info" style="font-size: 14px;font-weight: bold;color: red;"></div>
                    </div>
                </div>
                <!--按钮-->
                <div class="layui-form-item" style="width: 90%">
                    <div class="layui-input-block" style="float: right;">
                        <button id="addQuestion" class="layui-btn layui-btn-normal" onclick="dealConfirm()">确认</button>
                        <button id="reset" class="layui-btn layui-btn-normal" onclick="dealCancel()">取消</button>
                    </div>
                </div>
            </div>
            <table id="demo" lay-filter="demo"  style="width: 90%"></table>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="titleBar">
    <div th:replace="template::editbar-content"></div>
</script>

<script th:inline="javascript">
    layui.use(['form', 'table', 'laydate', 'tree'], function () {
        table = layui.table;
        form = layui.form;

        // 开启一个数据表格
        table.render({
            elem: '#demo'
            // , url: serverIp + "manage/study?userId=2&part=exam"
            , toolbar: '#titleBar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , page: true //开启分页
            , height: 531 //高度最大化
            , cols: [
                [ //表头
                    {type: 'checkbox'}, // 开启多选框
                    {field: 'num', title: '题号', width: '8%', align: 'center', sort: true},
                    {field: 'type', title: '题型', width: '8%', templet:"<div>{{d.type.msg}}</div>"},
                    {field: 'question', title: '题目', width: '20%'},
                    {field: 'optionA', title: '选项A', width: '10%'},
                    {field: 'optionB', title: '选项B', width: '10%'},
                    {field: 'optionC', title: '选项C', width: '10%'},
                    {field: 'optionD', title: '选项D', width: '10%'},
                    {field: 'answer', title: '答案', width: '7%'},
                    {field: 'analysis', title: '解析', width: '20%'}
                ]
            ]
        });

        //头工具栏事件 删除 查询
        table.on('toolbar(demo)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'delete':deleteQuestion(checkStatus);break;
                case 'edit': {
                    var checkList = checkStatus.data;
                    if (checkList.length <= 0 || checkList.length > 1) {
                        layer.alert("必须要选择一行记录");
                        return;
                    }
                    var model = checkList[0];
                    var type = model.type.num;
                    $("#num").val(model.num);
                    document.getElementById("num").disabled = "true";
                    $("#type").val(type);
                    $("#question").val(model.question);
                    $("#answer").val(model.answer);
                    $("#analysis").val(model.analysis);
                    if(type === 2 || type === 3) {
                        $("#optionA").val(model.optionA);
                        $("#optionB").val(model.optionB);
                        $("#optionC").val(model.optionC);
                        $("#optionD").val(model.optionD);
                        $("#option-wrapper").show();
                    } else {
                        $("#option-wrapper").hide();
                    }
                    form.render("select");
                    $("#exam_content").show();
                    break;
                }
                case 'add':
                    $("#num").val('');
                    $("#type").val('');
                    $("#question").val('');
                    $("#answer").val('');
                    $("#analysis").val('');
                    $("#optionA").val('');
                    $("#optionB").val('');
                    $("#optionC").val('');
                    $("#optionD").val('');
                    $("#exam_content").show();
                    break;
                case 'LAYTABLE_PRINT':
                    //todo 有问题
                    layer.msg("该控件暂时无法使用");
                    break;
            }
        });

        form.on('select(type)', function (data) {
            var type = data.value;
            if(type == 2 || type == 3) {
                $("#optionA").val('');
                $("#optionB").val('');
                $("#optionC").val('');
                $("#optionD").val('');
                $("#option-wrapper").show();
            } else {
                $("#option-wrapper").hide();
            }
        });

        loadContent();
    });

    id = [[${id}]];

    function loadContent() {
        $.ajax({
            type: "POST",
            url: serverIp + "study/exam/content", // 后端服务器上传地址
            data: {
                userId:2,
                id: id
            },
            success: function (rs) {
                if (rs.num === 1) {
                    layer.msg("获取数据失败");
                    return;
                }
                table.reload('demo', {
                    data: rs.data
                });
            },
            error: function () {
                layer.msg("获取数据失败");
            }
        })
    }

    function dealConfirm() {
        //更新
        var formData = checkQuestionParam();
        if(formData === null) return;
        formData.set("id", id);
        $.ajax({
            type: "POST",
            url: serverIp + "update/study/exam/content", // 后端服务器上传地址
            data: formData,
            cache: false, // 是否缓存
            async: true, // 是否异步执行
            processData: false, // 是否处理发送的数据  (必须false才会避开jQuery对 formdata 的默认处理)
            contentType: false, // 是否设置Content-Type请求头
            success: function (rs) {
                $("#type").val(0);
                form.render("select");
                $("#exam_content").hide();
                loadContent();
            },
            error: function () {
                layer.msg("更新失败");
            }
        });
    }

    //检查试题参数
    function checkQuestionParam() {
        $("#info").show();
        var r = /^\+?[1-9][0-9]*$/;//检查是否为数字
        var num_txt = document.getElementById("num").value;
        if (num_txt === undefined || num_txt === null || num_txt.toString().trim().length <= 0
            || (!r.test(num_txt)) || num_txt > 1000) {
            $("#info").html("num不正确");
            return false;
        }
        var type = document.getElementById("type").value;
        if (type == null) {
            $("#info").html("请选择试题类型");
            return null;
        }
        var question_txt = document.getElementById("question").value;
        if (question_txt === undefined || question_txt === null || question_txt.toString().trim().length <= 0) {
            $("#info").html("题目不正确");
            return null;
        }
        var optionA_txt = "", optionB_txt = "", optionC_txt = "", optionD_txt = "";
        //选项检查
        if (type == 2 || type == 3) {
            optionA_txt = document.getElementById("optionA").value;
            if (optionA_txt === undefined || optionA_txt === null || optionA_txt.toString().trim().length <= 0) {
                $("#info").html("选项A不正确");
                return null;
            }
            optionB_txt = document.getElementById("optionB").value;
            if (optionB_txt === undefined || optionB_txt === null || optionB_txt.toString().trim().length <= 0) {
                $("#info").html("选项B不正确");
                return null;
            }
            optionC_txt = document.getElementById("optionC").value;
            if (optionC_txt === undefined || optionC_txt === null || optionC_txt.toString().trim().length <= 0) {
                $("#info").html("选项C不正确");
                return null;
            }
            optionD_txt = document.getElementById("optionD").value;
            if (optionD_txt === undefined || optionD_txt === null || optionD_txt.toString().trim().length <= 0) {
                $("#info").html("选项D不正确");
                return null;
            }
        }
        var answer_txt = document.getElementById("answer").value;
        if (answer_txt === undefined || answer_txt === null || answer_txt.toString().trim().length <= 0) {
            $("#info").html("答案不正确");
            return null;
        }
        var analysis_txt = document.getElementById("analysis").value;
        if (analysis_txt === undefined || analysis_txt === null || analysis_txt.toString().trim().length <= 0) {
            $("#info").html("解析不正确");
            return null;
        }
        $("#info").hide();
        var formData = new FormData();
        formData.set("num", num_txt);
        formData.set("type", type);
        formData.set("question", question_txt.trim());
        formData.set("optionA", optionA_txt.trim());
        formData.set("optionB", optionB_txt.trim());
        formData.set("optionC", optionC_txt.trim());
        formData.set("optionD", optionD_txt.trim());
        formData.set("answer", answer_txt.trim());
        formData.set("analysis", analysis_txt.trim());
        return formData;
    }

    function dealCancel() {
        $("#type").val(0);
        form.render("select");
        $("#exam_content").hide();
    }

    function deleteQuestion(checkStatus) {
        var checkList = checkStatus.data;
        if (checkList.length <= 0) {
            layer.alert("至少要选择一行记录");
            return;
        }
        var idList = [];
        for (var i = 0; i < checkList.length; i++) {
            idList.push(checkList[i].num);
        }
        $.ajax({
            type: "POST",
            url: serverIp + "delete/study/exam", // 后端服务器上传地址
            data: {
                id: id,
                list: JSON.stringify(idList),
            },
            success: function (rs) {
                layer.msg("删除成功");
                //重新渲染
                loadContent();
            },
            error: function () {
                layer.msg("删除失败");
            }
        })
    }
</script>
</html>
